body {
  margin: 0 1rem 2rem;
  position: relative;
}

.card {
  max-width: 200px;
}

h3 {
  margin-bottom: 2rem;
}

.header .qty {
  background-color: violet;
  color: white;
  padding: 4px 8px;
  border-radius: 100px;
}
